@import '~bootstrap/scss/bootstrap';
@import './style/global.scss';

.form-control {
  background-color: $grey-block;
  color: white;

  &:focus {
    background-color: $grey-block;
    color: white;
  }

  &::placeholder {
    color: rgb(163, 158, 158);
  }
}

.card {
  background-color: $dark-block-content;
  border: 1px solid rgb(255, 255, 255);
}
