@import '~bootstrap/scss/bootstrap';
@import './style/global.scss';

.form-control {
  background-color: $grey-block;
  color: white;

  &:disabled,
  &[readonly] {
    background-color: $grey-block !important;
  }

  &:focus {
    background-color: $grey-block;
    color: white;
  }

  &::placeholder {
    color: rgb(163, 158, 158);
  }
}

.card {
  background-color: $dark-block-content;
  border: 1px solid rgb(255, 255, 255);
}

.modal-content {
  background-color: $dark-block-content;
  border: 2px solid whitesmoke;
}

.modal-header {
  color: $text-highlight;

  & button {
    color: white;
    transition: transform 0.1s;
  }
}

.close:hover {
  transform: scale(1.1);
  color: white;
}
