# /node_modules/* in the project root is ignored by default
# build artefacts
dist/*
coverage/*
/client/build/*
# data definition files
**/*.d.ts
# 3rd party libs
/src/public/
# custom definition files
/src/types/
/src/config/*
/client/node_modules/*
