@import '../../style/global.scss';

.ChangePassword {
  min-height: 90vh;
  height: auto;
  background-color: $dark-bg-color;
  display: flex;
  align-items: center;
  justify-content: center;

  &__Content {
    width: 450px;
    height: auto;
    border: 2px solid white;
    padding: 20px;
    border-radius: $border-radius;
    background-color: $dark-block-content;
    color: white;
  }
}

@media only screen and (max-width: 500px) {
  .ChangePassword {
    &__Content {
      width: 90%;
    }
  }
}
