@import '../../style/global.scss';

.SignInPage {
  height: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-bg-color;
  color: white;
}

.SignInSection {
  height: auto;
  width: 40%;
  padding: 30px;
  background-color: $dark-block-content;
  border: 1px solid grey;
  border-radius: 7px;
  display: flex;
  flex-direction: column;

  &__Bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__Or {
    text-align: center;
    margin-bottom: 5px;
  }
}

.SignInSection-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .SignInSection {
    width: 70%;
    padding: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .SignInSection {
    width: 90%;
    padding: 20px;
  }

  .SignInForm-container {
    height: 90%;
    width: 90%;
  }
}
