@import '../../style/global.scss';

.BookTile {
  width: 300px;
  height: 550px;
  font-size: 14px;
  margin: 10px;
  padding: 5px;
  background-color: $dark-block-content !important;
  color: white;
  border: 1px solid rgb(255, 255, 255) !important;
  box-shadow: 2px 2px 3px 2px rgba(32, 31, 31, 0.959);
  &__Title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $complimentary-color;

    &__Icon {
      cursor: pointer;
    }
  }

  &__Img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  &__Subtitle {
    color: #2d608d;
  }

  & span {
    color: $text-secondary;
  }
}
