.BookDisplayContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 3px;
}

@media only screen and (max-width: 650px) {
  .BookDisplayContainer {
    align-items: center;
    justify-content: center;
  }
}
