@import '../../style/global.scss';

.SearchBarContainer {
  height: 100px;
  position: sticky;
  top: 45px;
  background-color: rgb(25, 25, 27);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.SearchBar {
  display: flex;
  flex-direction: row;

  &__Label {
    display: none;
    color: $text-highlight;
  }

  & div {
    padding: 0;
    margin: 0;
  }
}
