@import '../../style/global.scss';

.FormInputGroup {
  &__Label {
    color: $text-highlight;
  }

  &__Control {
    background-color: $grey-block !important;
    color: white !important;
    &::placeholder {
      color: rgb(163, 158, 158) !important;
    }
  }
}
