.SignUpForm {
  &__Row {
    width: auto;
    display: flex;
    flex-direction: row;

    & div {
      width: 50%;
      margin: 5px;
    }
  }
  & Button {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 420px) {
  .SignUpForm {
    &__Row {
      flex-direction: column;
    }

    & div {
      width: 100%;
      margin: 0px;
    }
  }
}
