@import '../../style/global.scss';

.SignUpPage {
  height: 80vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-bg-color;
  color: white;
}

.SignUpSection {
  height: calc(auto);
  width: 40%;
  padding: 30px;
  border: 1px solid grey;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  background-color: $dark-block-content;
}

@media only screen and (max-width: 768px) {
  .SignUpSection {
    width: 70%;
  }
}
@media only screen and (max-width: 500px) {
  .SignUpSection {
    width: 90%;
  }
}
